{% extends "mantis_issue_table.html" %}
{% load static %}
{% block content %}


{% if data is mapping %}
    <ul>
        {% for key, value in data.items %}
            <li>{{ key|title }}: 
                {% if value is not string %}
                    {% include "nested_data_template.html" with data=value %}
                {% else %}
                    {{ value }} 
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% elif data is sequence %}
    <ul>
        {% for item in data %}
            <li>
                {% include "nested_data_template.html" with data=item %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    {{ data }} 
{% endif %}

{%endblock%}